{{# partial "content"}}

    <div class="containe">
        <h1> DUSANGIRE IJAMBO IWACU </h1>

        <div class="h">
            <h3>A communication is key of success of a company </h3>
        </div>


        <div  class="s" style="text-align:center">
            <a class="btn btn-success "  id="satrt"  href="/new/department" >GET STARTED</a>
        </div>

        <div class="footer"style="text-align:center">
            <p>Copyrigth|All Rigths Reserved   </p>
        </div>

    </div>




    <style>
    .containe{
    padding:500px;
    }
h3{
color:red;
}
.a,.s{
padding:60px;}

<!--h1.h3{-->
<!--margin:200px;-->
<!--padding:500px;-->
<!--color:white;-->
<!--text-align:center;-->
<!--}-->
h1{
font-style:italic;
}
    .footer{
   padding:10px;
    font-size:20px;
    font-weight:bolder;
    }
nav{
color:blue;
font-weight:bold;
}
li{
float :left;
}
a{
margin:3px;
}

    </style>
{{/partial}}
{{>layout.hbs}}