{{#partial "content"}}
    <style>
.container{
background-image:url('user.jpeg');
background-size:cover;
background-repeat:no repeat;
}



</style>






    <div class="container">









        <div class="continuer">
            <h3>YOU ARE SUCCESSFUL LOGGED IN THE  DEPARTMENT </h3>

            <a class="btn btn-success" href="/user-new" >Log in as User to continue</a>


        </div>

    </div>



{{/partial}}
{{>layout.hbs}}

</style>