{{#partial "content"}}
    <style>
.container{
background-color:aliceblue;}
}



</style>






    <div class="container">


        </li>







        <div class="continuer">
            <h3>YOU ARE SUCCESSFUL LOGGED IN THE  DEPARTMENT </h3>

            <a class="btn btn-success" href="/user-new" >Create User</a> &nbsp&nbsp&nbsp
            <a class="btn btn-primary" href="/annoucement" >Upload an announcement</a>


        </div>

    </div>



{{/partial}}
{{>layout.hbs}}

</style>