
{{# partial "content"}}

    <style>
      .

        h4,h3{
        color:blue;
        }
        .each{
        border:1px solid back;
        }


    </style>
    <body>
    <div class="container">



        <h3>The information ,You gave us is update on the list of departments  News</h3>

        <a class="btn btn-success "  id="satrt"  href="/annoucement/all" >VIEW THE LIST</a>
    </div>
    </body>


{{/partial}}
{{>layout.hbs}}