{{# partial "content"}}
    <div class="saved">
        <h3>YOU SAVED AS EMPLOYEE OF THIS COMPANY </h3>

        <P>Please fill free to share with Us, your taught for a good achievement of the company</P>



        <!--            <a class="nav-link"  data-toggle="pill" href="/news" role="tab" aria-controls="pills-profile" aria-selected="false">Create News</a>-->

        <a class="btn btn-success" href="/news">Create News</a>

    </div>


    <style>
   .saved{
   background-color:aliceblue;}

    h3{
    color:blue;
    }
    p{
    font-size:20px;
    }


</style>
{{/partial}}
{{>layout.hbs}}